* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}


body {
  min-height: 100dvh;
  width: 100vw;
  margin: 0 auto;
  background-color: #11112b;
  color: #f0fbfd;
  position: relative;
}

body.light-mode {
  background-color: #c7d0dc;
  color: #02022e;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  font-size: 1.35rem;
}




/** Styling home page */
.home-page {
  margin: 5rem auto 0;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 100%;
  background-color: inherit;
}
.welcome-title{
  max-width: 25rem;
  padding: 2rem 0;
  font-size: 1.4rem;
}

.welcome-heading {
  position: absolute;
  top: -1rem;
  /* color: #0cc90c; */
  font-size: 1.75rem;
  background: linear-gradient(90deg, #0cc90c, #f7ba1f, #5c8fef);
  background-clip: text;
  color: transparent;
}
.welcome-title h1 {
  font-size: 2.5rem;
  color: #daa520;
  margin-bottom: 1.5rem;
}
.welcome-title a.get-started-link {
  display: inline-block;
  margin: 2rem 1rem;
  padding: 0.5rem 1.1rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ff00cc;
  animation: border-animation 10s infinite linear;
}


.todo-image-container {
  height: 20rem;
  width: 20rem;
  top: 5rem;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  background-color: inherit;
}
.todo-image {
  height: 110%;
  width: 100%;
  object-fit: cover;
  z-index: 5;
}
.todo-image-container::before {
  content: '';
  position: absolute;
  background: linear-gradient(#00ccff, #fd33c0);
  width: 50%;
  height: 140%;
  animation: rotate 5s infinite linear;
  z-index: 3;
}

@keyframes rotate {
  from {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.todo-image-container::after {
  content: '';
  position: absolute;
  background-color: inherit;
  inset: 3px;
  border-radius: 0.7rem;
  z-index: 4;
}



/** Styling task_list  */
.task_list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  /* max-width: 40rem; */
  background-color: #46f74654;
  padding: 2rem 2rem;
}

.task_list-container .task-wrapper {
  background-color: #6494ed79;
  padding: 1rem;
  max-width: 30rem;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.task-complte-icon,
.task-incomplte-icon {
  border: 2px solid #a9a9a9;
  border-radius: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  vertical-align: middle;
}
.task-complte-icon{
  background-color: #00bd00;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
#task-complete-title,
.task-complete-title {
  color: #c1c1c1;
}

.task-action-btns {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.task-action-link img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.task-action-link.delete-btn,
.task-edit-btn {
  border-radius: 2rem;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 1.8rem;
  height: 1.8rem;
}



/** Styling form container, form */

.main {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;    
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 0 0;
  justify-content: center;
  align-items: center;
  background: url("../images/loginPageBG.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.main .form-container {
  background-color: transparent;
  box-shadow: 0 0 50px #18bbca;
}
.main .form-container:hover {
  animation: shadow-animate 2s infinite linear alternate;
}
@keyframes shadow-animate {
  0% {
    box-shadow: 0 0 50px 10px #baba1d;
  }
  33% {
    box-shadow: 0 0 50px 10px #d14086;
  }
  66% {
    box-shadow: 0 0 50px 10px #4cca22;
  }
  100% {
    box-shadow: 0 0 50px 10px #e38d03;
  }
}

.form-container {
  margin: 50px auto;
  width: 95%;
  max-width:500px;
  padding: 30px 20px;
  background-color: transparent;
  box-shadow: 0 0 5px #9b9b9b;
  border-radius: 10px;
  backdrop-filter: blur(0.5rem);
}


.form-container h2{
  margin: 5px auto 15px;
  padding: 15px 10px;
  width: 100%;
  border-radius: 5px;
  /* background: linear-gradient(45deg, #600160, #007d98, #49cd9a, #84025f); */
  color: #f6f6f6;
  text-shadow: 0 0 5px #0ff, 0 0 10px #ffb300, 0 0 20px #0f0, 0 0 30px #0f0;
  text-align: center;
  font-weight: 600;
}

.form-container .update-edit-path {
  margin: 5px auto 30px;
  padding: 15px 10px;
  border-radius: 5px;
  width: 95%;
  background: linear-gradient(45deg, #fac7ec4d);
  font-weight: 600;
  text-align: left;
}


p.non_field_error {
  color: #f93a3a;
  font-size: 1.2rem;
  width: 90%;
  padding: 0 10px;
}

.form-container form {
  width: 100%;
  margin: 5px auto 0;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.input-field-wrapper {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
}

.main .input-field-wrapper label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(1.7rem, 1.7rem);
  color: #c0bebe;
  pointer-events: none;
  transition: 0.5s;
  /* background-color: #00bd00; */
}


.main .input-field-wrapper input:focus-within ~ label,
.main .input-field-wrapper input:valid ~ label {
  transform: translate(0, 0);
  color: #fff;
  /* top: -1.7rem; */
}

.input-field-wrapper span {
  color: #fa1e1e;
  margin-left: 10px;
}
.input-field-wrapper input,
.input-field-wrapper textarea {
  padding: 10px;
  margin: 1rem 0;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #dadada;
  outline: 1px solid #4e63fe;
  text-indent: 5px;
  border-radius: 3px;
  color: inherit;
}

.input-field-wrapper textarea {
  height: 90px;
}

.input-field-wrapper input::placeholder {
  color: #b7b7b7;
  text-indent: 5px;
}

input[type='checkbox'] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.input-field-wrapper.name {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}
.input-field-wrapper.name div{
  flex: 1;
  min-width: 400px;
}

.form-btns-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.7rem;
  margin: 1rem 0 0.5rem;
}

.form-submit-btn.save_btn,
.form-btns-wrapper a  {
  width: 10rem;
}
.form-btns-wrapper a {
  padding: 10px 0;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  text-align: center;
  color: inherit;
  border: 1px solid #ff24bd;
  box-shadow: 0 0 3px #d6d6d6;
  transition: ease-in box-shadow 300ms;
}
.form-btns-wrapper a:hover {
  box-shadow: none;
}
.form-btns-wrapper a:active {
  box-shadow: 0 0 5px #d6d6d6;
}

.form-submit-btn {
  font-size: 1.3rem;
  padding: 10px 0;
  border-radius: 0.4rem;
  color: #e6e6e6;
  border: 1px solid #ff03b3;
  background-color: #ff03b3;
  text-align: center;
  cursor: pointer;
  transition: ease-in box-shadow transform 200ms;
}


.form-submit-btn.signup-btn,
.form-submit-btn.login-btn {
  width: 60%;
}

.form-submit-btn:hover {
  box-shadow: 0 0 3px #d6d6d6;
  transform: scale(1.025);
}

.form-submit-btn:active {
  box-shadow: 0 0 5px 3px #ff00cc;
}




.option-link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: #fe27d3;
}
.option-link:hover {
  text-decoration: underline;
}

.main form p {
  color: #fff;
}
form p {
  font-size: 1.25rem;
}


/** Styling pswd_reset_done   */
.pswd-reset-wrapper {
  margin: 1.5rem auto;
  min-width:310px;
  width: 95%;
  max-width:750px;
  padding: 30px 20px;
  background-color: #fac7ec4d;
  border-radius: 10px;
}
.pswd-reset-wrapper h2{
  margin: 0.5rem auto 1rem;
  padding: 1rem 0.8rem;
  width:95%;
  border-radius: 0.4rem;
  background: linear-gradient(145deg, #580258,  #b60137, #038f7a);
  text-align: center;
  font-weight: 600;
}
.pswd-reset-wrapper #pswd-reset-msg {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/** style Password reset complete */
p.pswd-reset-success-msg {
  font-size: 1.4rem;
}


@media screen and (max-width:766px) {
  .home-page .todo-image-container {
    top: 14rem;
  } 
  
}
@media screen and (max-width:590px) {
  .home-page .todo-image-container {
    top: 21rem;
  }
  
}


@media screen and (max-width:426px) {
  .home-page {
    margin: 2rem auto 0;
    padding: 0 1rem;
  }
 
  .welcome-heading {
    font-size: 1.5rem;
    top: 0;
  }
  .welcome-title  {
    font-size: 0.9rem;
  }

  .welcome-title h1 {
    font-size: 2rem;
  }


  form p {
    font-size: 0.95rem;
  }
  .option-link {
    font-size: 1rem;
    margin-left: 0.2rem;
  }
  .form-container h2{
    font-size: 1.25rem;
  }
  .form-submit-btn {
    font-size: 1.1rem;
  }
  .form-btns-wrapper  {
    padding: 0 0.2rem;
  }
  .form-submit-btn.save_btn,
  .form-btns-wrapper a  {
    width: 7rem;
  }


  p.pswd-reset-success-msg {
    font-size: 1.1rem;
  }

  .task_list-container {
    padding: 2rem 0.5rem;
  }
  .task_list-container .task-wrapper{
    font-size: 1.1rem;
    max-width: 85vw;
  }
  .task-title a {
    /* overflow: hidden; */
    text-overflow: hidden;
  }
  
}

@media screen and (max-width:321px) {
  .home-page .todo-image-container {
    height: 20rem;
    width: 18rem;
    right: 1rem;
  } 
}