{% load static %}
<header class="todo-header">
  <div class="left-section">
    <img src="{% static "base/images/todo-logo1.png" %}" id="todo-logo">
    <nav>
      <a href="{% url 'home' %}">🏠 Home</a>
      {% if request.user.is_authenticated %}
        <div class="nav-action-links">
          <a href="{% url 'tasks' %}">🧾 My Tasks</a>
          <a href="{% url 'task_create' %}"><span class="new-task-logo">+</span>New Task</a>
        </div>
      {% endif %}
    </nav>
  </div>
  
  <div class="right-section">
    <span class="theme-icon">
      {% if theme %}
        🌙
      {% else %}
        🔆
      {% endif %}
    </span>
    <img class="profile-img" src="{% static 'base/images/todo_manage.jpg' %}" alt="profile image">
    <nav class="profile-action-bar">
      {% if request.user.is_authenticated %}
        <span class="username"> {{request.user.first_name}} </span>
        <a href="{% url 'tasks' %}">🧾 My Tasks</a>
        <a href="{% url 'task_create' %}"><span class="new-task-logo">+</span>New Task</a>
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <input class="login-link" type="submit" value="Logout">
        </form>
        {% else %}
        <a class="login-link" href="{% url 'login' %}">Login</a>
        <a class="signup-link" href="{% url 'signup' %}">Signup</a>
      {% endif %}
    </nav>
  </div>
</header>