{% extends "base/base.html" %}

{% comment %} {% block main %}
  <h1>!! ...Jay Shree Seeta Ram... !!</h1>
  <hr>
  <h2>Register</h2>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Register</button>
  </form>
  <hr>
  <h3>Already have an account? <a href="{% url 'login' %}">Login</a></h3>
{% endblock main %} {% endcomment %}

{% block main %}
 <div class="form-container">
    <h2>Signup here</h2>
    {% include 'base/form.html' with p='Signup' %}
    
    <div class="option-btn-container">
      <p>OR</p>
      <a class='login-option-link' href="{% url 'login' %}">Login</a>
    </div>
  </div>
{% endblock main %}