<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <style>
    body {
      width: 100vw;
      min-height: 100vh;
      display: flex;
    }

    .main {
      width:100%;
      max-width: 40rem;
      margin: auto;
      padding: 2rem;
      text-align: center;
    }
    h1 {
      font-size: 4rem;
      color: #007bff;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1>4😵4</h1>
    <p>
      The page you were looking for was not found.
      <a href="{% url 'home' %}">Click here to go home</a>
    </p>
  </div>
</body>
</html>