{% extends "base/base.html" %}


{% block main %}
  <div class="main">
    {% if messages %}
      {% for message  in messages %}
        <p {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</p>
      {% endfor %}
    {% endif %}
    <div class="form-container">
      <h2>Login in to your account</h2>
      <form action="" method="POST" novalidate>
        {% include 'base/form.html' with p='Login' %}
        <input class="form-submit-btn login-btn" type="submit" value="Login">
        <hr>
        <p>Forgot your password! <a class='option-link' href="{% url 'pswd_reset' %}">Reset Password</a></p>
        <p>Don't have an account? <a class='option-link' href="{% url 'signup' %}">Join Now</a></p>
      </form>

    </div>
  </div>
{% endblock main %}